
@import 'styles.css';

.header {
    margin: 0;
    padding: 10px 80px 5px 80px;
    position: sticky;
    top: 0; 
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid var(--secondary-color);
}

.header-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.header-container .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-container .header-content .search-bar .logo {
    float: left;
    padding-left: 10%;
    padding-top: 10%;
    font-size: large;
}

.header-container .header-content .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    

}

.nav-container {
    margin-left: 0px;
    justify-content: space-between;
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    
}

.nav-links:hover{
    transition-duration: 0.9s;
}

.links {
    text-decoration: none;
    color: var(--4-color);
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 14px;
}

.links:hover {
    color: var(--secondary-color);
    transition: 0.2s;
}

.links-1 {
    text-decoration: none;
    color: var(--dark-text-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 14px;
}

.links-1:hover {
    transform: scale(1);
}

.links-home {
    text-decoration: none;
    color: var(--secondary-color);
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 20px;
    font-size: 14px;
    
}

.links-home:hover {
    transform: scale(1);
}


.menu {
    display: none;
}

@media (max-width: 700px) {
    .menu {
        display: block;
        cursor: pointer; 
    }
}


@media (max-width: 550px) {    
    .nav {
        display: none;
    }

    .search-bar .logo {
        text-align: center;
        justify-self: center;
    }

}

.user {
    font-size: 20px;
    padding-right: 6%;
    padding-top: 0.4%;
}