/* variables */

:root {
    --primary-color: #f2c67e;
    --secondary-color: #c08515;
    --3-color: #033c4d ;
    --4-color: #002034 ;
    --5-color:  #000921 ;
    --text-color: var(--5-color);
    --title-color: var(--3-color);
    --title-font-size: ;
    --text-font-family: ;
    --button-text-color: #ffffff;
    --button-background-color: var(--3-color);
    --button-border-radius: 20px;
    --button-hover-background-color: var(--4-color);
    --button-padding: 10px;

}

/* Body style */

body {
    padding: 0;
    margin: 0;
}

p {
    color: var(--text-color);
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
h2 {
    color: var(--title-color);
    text-align: center;
}
/* Hero-section */


#hero {
    padding: 0;
}

#about {
    height: 100%;
}

.hero-section {
    display: grid;
    flex-direction: column;
    text-align: center;
    min-height: 60vh;
}

.hero-section .hero-image {
    position: relative;
    display: flex;
    flex-direction: column;
}

.image {
    height: 150px;
    max-width: 100%;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    
}

button {
    color: var(--button-text-color);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    background-color: var(--button-background-color);
    border: none;
}

button:hover {
    background-color: var(--button-hover-background-color)
}



/* What I do */

#whatido {
    padding: 0;
}



/* Skills Section */

#skills {
    padding: 0;
}



/*  Projects */

#projects {
    padding: 0;
}


/* Certifiactes */

#certificates {
    padding: 0;
}



/* Contact */

#contact {
    padding: 0;
}

/* Responsive Design */

@media (max-width:500px) {
    body {
        padding: 0;
    }
}
